In [1]:
d={}

In [2]:
d

{}

In [3]:
type(d)

dict

In [4]:
d1={"Key":"Value"}

In [5]:
d1

{'Key': 'Value'}

In [8]:
d2={"Name":"Amar","Age":22,"NUmber":123456789}

In [9]:
d2

{'Name': 'Amar', 'Age': 22, 'NUmber': 123456789}

In [1]:
d3={123:"Amar",23.23:43,"_a":"amar",True:123,False:"Aman"}

In [2]:
d3

{123: 'Amar', 23.23: 43, '_a': 'amar', True: 123, False: 'Aman'}

In [ ]:
works for all(int,char,string,float,double,boolean) but not special character

In [12]:
d3[123]

'Amar'

In [15]:
d3[True]

123

In [23]:
d3[1]#becuase True means 1 so it shows the value of True

123

In [30]:
d3[0]

'Aman'

In [31]:
d4={"Name":"Amar","Mobile":12345,"Name":"Amar_Kumar"}

In [32]:
d4

{'Name': 'Amar_Kumar', 'Mobile': 12345}

In [33]:
d4["Name"]

'Amar_Kumar'

In [50]:
d5={"company":"PWSkils","Course":["Data_Science","Java_with_DSA"]}

In [52]:
d5

{'company': 'PWSkils', 'Course': ['Data_Science', 'Java_with_DSA']}

In [54]:
d5["Course"][1]

'Java_with_DSA'

In [47]:
d5

'Course'

In [23]:
d6={"Name":["Amar",12345,3+2j],"Name2":("Amar",1234,3+2j),"Name3":{"Amar",12345,3+3j},"Name4":{"Name":"Amar","Location":"Bhopal"}}

In [2]:
d6 # we can create list,tuple,set and dicitonary inside dictionary

{'Name': ['Amar', 12345, (3+2j)],
 'Name2': ('Amar', 1234, (3+2j)),
 'Name3': {(3+3j), 12345, 'Amar'},
 'Name4': {'Name': 'Amar', 'Location': 'Bhopal'}}

In [16]:
d6['Name4']

{'Name': 'Amar', 'Location': 'Bhopal'}

In [4]:
d6["Name4"]['Location']

'Bhopal'

In [18]:
d6['mentor']=["I don t have money I have 1 centilligion"]# adding new value to d6

In [19]:
d6

{'Name': ['Amar', 12345, (3+2j)],
 'Name2': ('Amar', 1234, (3+2j)),
 'Name3': {(3+3j), 12345, 'Amar'},
 'Name4': {'Name': 'Amar', 'Location': 'Bhopal'},
 'mentor': ['I don t have money I have 1 centilligion']}

In [21]:
del d6 #to delete d6

In [22]:
d6

NameError: name 'd6' is not defined

In [26]:
del d6['Name2']

In [27]:
d6

{'Name': ['Amar', 12345, (3+2j)],
 'Name3': {(3+3j), 12345, 'Amar'},
 'Name4': {'Name': 'Amar', 'Location': 'Bhopal'}}

In [28]:
d6.keys()# gives all key items

dict_keys(['Name', 'Name3', 'Name4'])

In [29]:
list(d6.keys())# converting into list

['Name', 'Name3', 'Name4']

In [30]:
tuple(d6.keys())# converting into tuple , # we can convert in any form list tuple set dictionry

('Name', 'Name3', 'Name4')

In [33]:
d6.values() # finding values

dict_values([['Amar', 12345, (3+2j)], {12345, (3+3j), 'Amar'}, {'Name': 'Amar', 'Location': 'Bhopal'}])

In [34]:
list(d6.values())

[['Amar', 12345, (3+2j)],
 {(3+3j), 12345, 'Amar'},
 {'Name': 'Amar', 'Location': 'Bhopal'}]

In [35]:
# there is any other function called items to find keys and values both

In [36]:
list(d6.items())# finding keys and values and converting them into list

[('Name', ['Amar', 12345, (3+2j)]),
 ('Name3', {(3+3j), 12345, 'Amar'}),
 ('Name4', {'Name': 'Amar', 'Location': 'Bhopal'})]

In [38]:
d6.pop('Name3')

{(3+3j), 12345, 'Amar'}

In [39]:
d6

{'Name': ['Amar', 12345, (3+2j)],
 'Name4': {'Name': 'Amar', 'Location': 'Bhopal'}}

In [42]:
d6.pop()# the diffference between delete and pop function is that 
        # in pop there must at least 1 argument while delete deletes argument and whole list,tuple,set,dict

TypeError: pop expected at least 1 argument, got 0