In [1]:
l=[1,2,33,4,55]

In [2]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
33 <class 'int'>
4 <class 'int'>
55 <class 'int'>

In [21]:
l1=['Amar','Kumar','Data Scientist']

In [4]:
for i in l1:
    print(i,type(i))

Amar <class 'str'>
Kumar <class 'str'>
Data Scientist <class 'str'>

In [5]:
# for else use

In [6]:
l1

['Amar', 'Kumar', 'Data Scientist']

In [7]:
for i in l1:
    print(i)
else:
    print("Execute this if it is able to completer itself")

Amar
Kumar
Data Scientist
Execute this if it is able to completer itself

In [11]:
for i in l1:
    if i == "Kumar":
        break
    print(i)
else:
    print("Execute this if it is able to completer itself")

Amar

In [12]:
# look nahi hua na print else wala line 
# because loop complete nahi chala beech mein break ho gaya

In [13]:
# continue use

In [14]:
l1

['Amar', 'Kumar', 'Data Scientist']

In [17]:
for i in l1:
    if i == "Kumar":
        continue
    else:
        print(i)

Amar
Data Scientist

In [1]:
#Range

In [2]:
range(0,5)

range(0, 5)

In [3]:
print(range)

<class 'range'>

In [5]:
print(range(0,5))#proved print range ko print nahi kar paa raha 
                # lekin list kar dega

range(0, 5)

In [7]:
list(range(0,5))# list range ko print kar diya

[0, 1, 2, 3, 4]

In [10]:
list(range(0,10,1))# 0 se 10 se ek kam tak aur 1 ka jump le kar

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list (range(0,20,2))# 0 se 20 se ek kam tak aur 2 jump le kar

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
tuple(range(0,20,3))

(0, 3, 6, 9, 12, 15, 18)

In [14]:
set(range(0,20,4))

{0, 4, 8, 12, 16}

In [15]:
dict(range(0,20,3))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [19]:
list(range(-10,0))# -10 se 0 se ek kam yaani -1 tak 
                # by default jump 1 hota hai

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [ ]:
#***************************************

In [22]:
l1

['Amar', 'Kumar', 'Data Scientist']

In [24]:
for i in l1:
    print(i)

Amar
Kumar
Data Scientist

In [25]:
#or another method

In [34]:
l1

['Amar', 'Kumar', 'Data Scientist']

In [36]:
len(l1)

3

In [42]:
list(range(len(l1)))
# list(range(l1))#list' object cannot be interpreted as an integer

[0, 1, 2]

In [40]:
for i in range(len(l1)):
    print(l1[i])
    
# for i in l1:
#     print(i)
#simple logic but i have to be advance

Amar
Kumar
Data Scientist

In [90]:

# simple method of reverse

# method 1

# l1.reverse()
# output 
# ['Data Scientist', 'Kumar', 'Amar']

# method 2

# l1[3::-1]


# for i in l1:
#     print(i.reverse())
#     #'str' object has no attribute 'reverse'
    
# for i in range(3,):
#     print(l1[i])

In [83]:
# By loop we will try to reverse string

In [68]:
list( range(len(l1)-1,-1,-1))

[2, 1, 0]

In [92]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

Data Scientist
Kumar
Amar

In [96]:
# another method 
for i in [0,1,2]:
    print(l1[i])
print("*******************")
for i in [2,1,0]:
    print(l1[i])

Amar
Kumar
Data Scientist
*******************
Data Scientist
Kumar
Amar

In [1]:
#*******************88

In [5]:
l2=[1,23,34,343,34,334,454,643,345,11]

In [3]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8]

In [6]:
for i in range(0,len(l2),2):
    print(l2[i])

1
34
34
454
345

In [9]:
l2=set(l2)

In [10]:
l2

{1, 11, 23, 34, 334, 343, 345, 454, 643}

In [12]:
for i in range(0,len(l2),2):
    print(l2[i])
    #'set' object is not subscriptable
    #may set in not indexed so it is unable to print index value

TypeError: 'set' object is not subscriptable

In [13]:
l2(2)#'set' object is not callable

TypeError: 'set' object is not callable

In [14]:
l2[2]# 'set' object is not callable

TypeError: 'set' object is not subscriptable

In [15]:
#IIIIIIIIIIIIIIIIIIIIIi

In [16]:
l4=[1,23,5,22]

In [17]:
sum(l4)

51

In [19]:
print(sum(l4))

51

In [20]:
sum=0
for i in l4:
    sum=sum+i
print(sum)

51

In [21]:
t=(13,5,3,5,3)

In [22]:
sum=0
for i in t:
    sum=sum+i
print(sum)

29

In [28]:
s={1,2,3,3,4,1,5}# sum =19 but give 15 because it is set 
                 # not duplicate item count

In [27]:
sum=0
for i in s:
    sum=sum+i
print(sum)

15

In [31]:
s1="pwskills"

In [32]:

for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [33]:
# dictionary

In [34]:
d={"Name":"Amar","class":"Data Science Masters","topic":["python","statistics","Deep Learning","Machine learning","Natural language processing","Resume Building","Interview"]}

In [35]:
d

{'Name': 'Amar',
 'class': 'Data Science Masters',
 'topic': ['python',
  'statistics',
  'Deep Learning',
  'Machine learning',
  'Natural language processing',
  'Resume Building',
  'Interview']}

In [36]:
d.keys()

dict_keys(['Name', 'class', 'topic'])

In [41]:
d['Name']

'Amar'

In [48]:
for i in d.keys():# d.keys yaani dictionary ke keys ke andar jaakar 
                # uske element ko print karna
    print(d[i])
    # print(i)# Name class topic

Amar
Data Science Masters
['python', 'statistics', 'Deep Learning', 'Machine learning', 'Natural language processing', 'Resume Building', 'Interview']

In [44]:
d.values()

dict_values(['Amar', 'Data Science Masters', ['python', 'statistics', 'Deep Learning', 'Machine learning', 'Natural language processing', 'Resume Building', 'Interview']])

In [51]:
for i in d.values():
    print(i)
    # print(d[i])# error socho yaar values print ho gaya ab aur kuch raha toh nahi uske andar

Amar
Data Science Masters
['python', 'statistics', 'Deep Learning', 'Machine learning', 'Natural language processing', 'Resume Building', 'Interview']

In [52]:
d.items()

dict_items([('Name', 'Amar'), ('class', 'Data Science Masters'), ('topic', ['python', 'statistics', 'Deep Learning', 'Machine learning', 'Natural language processing', 'Resume Building', 'Interview'])])

In [55]:
for i in d.items():
    print(i)
    # print(d[i])# error

('Name', 'Amar')
('class', 'Data Science Masters')
('topic', ['python', 'statistics', 'Deep Learning', 'Machine learning', 'Natural language processing', 'Resume Building', 'Interview'])