In [1]:
#polymorphism = poly means many and phism means form 
# many forms

In [2]:
def test(a,b):
    return a+b

In [6]:
test(3,5)##test function int ko add kar raha

8

In [19]:
test("Ram","Sita")#test function string ko add kar raha

'RamSita'

In [8]:
test([1,2,3],[4,5,6])#test function list ko add kar raha

[1, 2, 3, 4, 5, 6]

In [9]:
# best exapmple

In [31]:
class data_science:
    def syllabus(self): # syllabus(function name same )
        print("This is my data science class")

In [32]:
class Machine_learning:
    def syllabus(self):#syllabus(function name same)
        print("This is my machine learnging class")

In [42]:
#External function

def class_parcer(class_obj): # argument class_obj
    for i in  class_obj:
        i.syllabus() # syllabus function ko iterate kar raha jiske andar
        # ka operation ho raha so data sciecne par
        # This is my data science class"print ho raha 
        #  aur ml  par
        # This is my machine learnging class"print raha

In [34]:
data_science=data_science()#data science is  an object data science()class

In [35]:
Machine_learning=Machine_learning()# machine learning is an obj ml()class

In [41]:
class_obj=[data_science,Machine_learning]
#external function(class_parce) ke parameter(class_obj) mein 
# machine learning aur data science object assignm kar diya as a list 
# or keh sakte hai input mein list ke form mein (data science and ml) ko liy

In [39]:
class_parcer(class_obj)
# class parcer calling 
# iske argument(class_obj) mein machine learnging aur data science hai

This is my data science class
This is my machine learnging class

In [ ]:
# w3school

In [2]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [1]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [3]:
# self

In [21]:
class maths:
    def result(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a+self.b
        print(self.c)

        
class maths2:        
    def result(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a*self.b
        print(self.c)
        
obj=maths()
print("Maths object ",end = '')
obj.result(3,2) #  functtion name same (result)

obj=maths2()
print("Maths 2 object ",end = '')
obj.result(3,2) # function name same(result)

Maths object 5
Maths 2 object 6

In [26]:
class maths:
    def result(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a+self.b
        print(self.c)

        
class maths2:        
    def result(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a*self.b
        print(self.c)
        
obj1=maths()
obj2=maths2()

for x in (obj,obj2):
    print(x)

<__main__.maths2 object at 0x7f0fac38f220>
<__main__.maths2 object at 0x7f0fac39e710>

In [23]:
class maths:
    def __init__result(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a+self.b
    def show_result(self):
        print(self.c)

        
class maths2:        
    def __init__(self,a,b):
        self.a=a
        self.b=b
        self.c=self.a*self.b
    def show_result(self):
        
        print(self.c)
        
m1=maths(3,2)
m2=maths2(3,2)

        
for x in (m1,m2):
    print(x)
        
# obj=maths()
# print("Maths object ",end = '')
# obj.result(3,2) #  functtion name same (result)

# obj=maths2()
# print("Maths 2 object ",end = '')
# obj.result(3,2) # function name same(result)

TypeError: maths() takes no arguments