In [1]:
# for loop doesnt check condition whereas 
# while loop checks condition first then it enters the loop

In [3]:
a=1
while a<=10:# check condition first 1<=10 T 2<=10 T ... 10<=10 T 11<=10 F then exit from loop
    print(a)
    a=a+1# increasing value each times by 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=1 
while a<=10: # chalta rahega infinte times tak kyunki aur print karta rahega 1 or jo tum input doge
     #uske baad ye check karega condition 1<=10 T  phir print karega 1 aur phir check karega
        # 1<=10 T phir print kar dega 1 and so on chalta rahega infinte times tak
    print(a)

In [ ]:
sum = 0
n=int(input("Enter the limit "))
while a<=n:
    sum=sum+a
    a=a+1
print(sum)

In [2]:
2+2

4

In [3]:
# Fibonacci series

In [13]:
n=int(input("Enter any number "))
a=0
b=1
# fib=0
while n>0:
    # fib=a
    print(a)
    c=a+b
    a=b
    b=c
    n=n-1
fib

Enter any number  4

0
1
1
2

2

In [11]:
n=int(input("Enter any number "))
a,b=0,1
c=0
counter=0
while counter<n:
    print(a)
    c=a+b
    a=b
    b=c
    counter =counter+1

Enter any number  5

0
1
1
2
3

In [14]:
name="AMAR"

In [17]:
# reverse method 1
# name.reverse()#'str' object has no attribute 'reverse'

# method 2
name[::-1]

'RAMA'

In [18]:
name

'AMAR'

In [23]:
# Reverse by loop

revName=""
length=len(name)
while length>0: # 4>0 True 3>0 True 2>0 True 1>0 True 0>0 False so exit
    revName = revName + name[length-1] # 3("_R") 2("RA") + 1("RAM") + 0("RAMA")
    length=length-1 # 3 2 1 0
revName

'RAMA'

In [24]:
# Table print

In [26]:
n=int(input("Enter any table "))
i=1
while i<=10:
    print(n,"*",i,"=",n*i)
    i=i+1

Enter any table  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [27]:
# while else

In [ ]:
n=5
i=1
while i<n:
    print(i)
else:
    print("This will be executed when your while will be completed")

In [ ]:
2+2

In [ ]:
n=5
i=1
while i<n:
    if i==3:
        break
    print(i)
else:
    print("This will be executed when while willbe completed")